:root {
    /* Primary Colors */
    --primary-light: #006efa;
    --primary-main: #006efa;
    --primary-dark: #004CAD;
    --primary-contrastText: #ffffff;
  
    /* Translucent Colors */
    --translucent-main: #fff;
    --translucent-dark: #000;
    --translucent-light: #fff;
    --translucent-contrastText: #fff;
    --translucent-commonBlack: #000000;
    --translucent-commonWhite: #FFFFFF;
  
    /* Tones */
    --tone1: #333333;
    --tone2: #707070;
    --tone3: #878787;
    --tone4: #BDBDBD;
    --tone5: #D9D9D9;
    --tone6: #EBEBEB;
    --tone7: #F5F5F5;
    --tone8: #FFFFFF;
    --surface-background: #ffffff;
    --surface-paper: #F5F5F5;
    --surface-elevated: #ffffff;
    --surface-protection: #3D3D3D;

  
    /* Danger Colors */
    --danger-main: #CA1C2D;
    --danger-light: #E33547;
    --danger-dark: #9D1523;
    --danger-contrastText: #FFFFFF;
  }
  

      /* Tones light
      --tone1: #333333;
      --tone2: #707070;
      --tone3: #878787;
      --tone4: #BDBDBD;
      --tone5: #D9D9D9;
      --tone6: #EBEBEB;
      --tone7: #F5F5F5;
      --tone8: #FFFFFF;
      --surface-background: #ffffff;
      --surface-paper: #F5F5F5;
      --surface-elevated: #ffffff;
      --surface-protection: #3D3D3D;
      */


    /* Tones dark
    --tone1: #ffffff;
    --tone2: #cccccc;
    --tone3: #999999;
    --tone4: #666666;
    --tone5: #525252;
    --tone6: #383838;
    --tone7: #212121;
    --tone8: #121212;
    --surface-background: #121212;
    --surface-paper: #242424;
    --surface-elevated: #333333;
    --surface-protection: #3D3D3D;
    */